// LOW reset :
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    // Fonts :
    
    // Colors :
    --picton-blue: #00a6fbff;
    --lapis-lazuli: #006494ff;
    --button-primary: #0582caff;
    --navbar: #003554ff;
    --background-primary: #051923ff;
    --text-primary-light: white;

    // Colors shadow card crypto
    --classic-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    --bitcoin-shadow: rgba(255, 136, 0, 0.1) 0px 8px 24px, rgba(255, 136, 0, 0.1) 0px 16px 56px, rgba(255, 136, 0, 0.1) 0px 24px 80px;
    --ethereum-shadow: rgba(0, 110, 255, 0.1) 0px 8px 24px, rgba(0, 110, 255, 0.1) 0px 16px 56px, rgba(0, 110, 255, 0.1) 0px 24px 80px;
    --doge-shadow: rgba(255, 230, 0, 0.1) 0px 8px 24px, rgba(255, 230, 0, 0.1) 0px 16px 56px, rgba(255, 230, 0, 0.1) 0px 24px 80px;

    --size-box-for-shib-bckg: calc(100% - (1440px - 300px))
}