.page-dogepaper {
    color: var(--text-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2 {
        margin-top: 70px;
        font-weight: 700;
        font-size: 60px;
        text-align: center;
    }
}