.page-home {
    width: 100%;
    min-height: calc(100vh - 80px);
    color: var(--text-primary-light);
    text-align: center;
    display: flex;
    flex-direction: column;

    h1 {
        letter-spacing: 0.25rem;
        font-size: 100px;
        line-height: 45vh;
        font-weight: 800;
        text-shadow: var(--background-primary) 0.1em 0.1em 0.2em;
    }

    .home-first-place {
        font-weight: 600;
        font-size: 40px;
        text-shadow: var(--background-primary) 0.1em 0.1em 0.2em;
    }

    .home-first-place-details {
        font-style: italic;
        margin-top: 35px;
        text-shadow: var(--background-primary) 0.1em 0.1em 0.2em;
    }

    .home-barchart {
        padding: 12px;
        width: 60%;
        margin-top: 90px;
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        backdrop-filter: blur(12px);
        background-color: rgba(21, 32, 43, 0.75);
        border-radius: 10px;
        box-shadow: var(--classic-shadow);

        .mantine-BarChart-root {
            width: 100%;
            padding: 0px 35px 25px 10px;
        }
    }

}