// LOW reset :
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // Fonts :
    
    // Colors :
    --first:'#00A6FB';
    --second:'#0582CA';
    --third:'#006494';
    --four:'#003554';
    --five:'#051923';
}