// Init
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    background-color: var(--background-primary);

    body {
        position: relative;
        background-color: var(--background-primary);
        max-width: 1440px;
        margin: auto;
        min-height: calc(100vh - 80px);        

        // Navbar
        margin-top: 80px;

        // Background shib :
        background: url("../assets/img/shibBckg.png") no-repeat fixed;
        background-size: 360px;
        background-position: bottom -100px right 50px;
    }

    @media screen and (min-width: 1540px) {
        body {background-position: bottom -100px right var(--size-box-for-shib-bckg);}
    }

    @media screen and (min-width: 2670px) {
        body {background-position: bottom -100px center;}
    }
}
